<!DOCTYPE html>
<html lang="en" th:replace="user/base::layout(title,~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="card me-4">
<!--            alert message-->
            <div th:if="${message}" th:classAppend="'alert-'+${type}" class="alert text-center mt-1 container" role="alert">
                <span th:text="${message}"></span>
            </div>

            <div class="card-body">
                <h1 class="text-center mt-2"> Add Contact</h1>
                <div class="container-fluid mt-4 ">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form action="#"
                                  th:object="${contact}"
                                  enctype="multipart/form-data"
                                  th:action="@{/user/process-contact}"
                                  method="post"><!--enctype="multipart/form-data"-->

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user "></i></span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Username"
                                           aria-label="Username"
                                           aria-describedby="basic-addon1"
                                           name="name"
                                           required
                                    >
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon2"><i class="far fa-envelope"></i></span>
                                    <input type="email"
                                           class="form-control"
                                           placeholder="email"
                                           aria-label="email"
                                           aria-describedby="basic-addon2"
                                           name="email"
                                           required
                                    >
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3"><i class="fas fa-briefcase"></i></i></span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="work"
                                           aria-label="work"
                                           aria-describedby="basic-addon3"
                                           name="work"
                                           required
                                    >
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon5"><i class="fas fa-address-book"></i></i></span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="address"
                                           aria-label="address"
                                           aria-describedby="basic-addon5"
                                           name="address"
                                           required
                                    >
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon4"><i class="fas fa-phone"></i></i></span>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="phone"
                                           aria-label="phone"
                                           aria-describedby="basic-addon4"
                                           name="phone"
                                           required
                                    >
                                </div>

                                <div class="mb-3">
                                    <textarea class="form-control"
                                              id="mytextarea"
                                              rows="10"
                                              placeholder="Write some description about this person"
                                              name="description"

                                    ></textarea>
                                </div>

                                <div class="mb-3">
                                    <p>Choose profile pic:</p>
                                    <input type="file" name="image" id="image" >
                                </div>


                                <div class="text-center">
                                    <button class="btn btn-outline-success" type="submit">
                                        <i class="fas fa-save"></i> Save Contact</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://cdn.tiny.cloud/1/obbvnzzcp1p4bn9bmyz1brav55e7xd591z4z42h0kjx4hn3h/tinymce/6/tinymce.min.js"
                referrerpolicy="origin"></script>


        <script>
            tinymce.init({
                selector: '#mytextarea'
            });
        </script>

<!--        obbvnzzcp1p4bn9bmyz1brav55e7xd591z4z42h0kjx4hn3h -->
    </section>

</body>
</html>