<!DOCTYPE html>
<html lang="en" th:replace="user/base::layout('title',~{::dashboard})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="dashboard">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aperiam atque blanditiis doloribus ducimus eligendi est id laboriosam, minima necessitatibus nisi nobis omnis placeat quas sint sit tempore voluptatum? Adipisci expedita facilis, id iste quam quasi rerum temporibus veritatis voluptas voluptatibus! Aliquam at esse ipsum mollitia obcaecati pariatur porro quos repellat rerum vero. A accusantium assumenda blanditiis, commodi dolorem eligendi ex facilis fugiat officia, quisquam tempore, voluptas voluptates! Ab aspernatur beatae, consequatur consequuntur culpa eligendi eos fugit impedit ipsam iste maiores minus neque, nihil nobis odit perspiciatis, quaerat quam quis rem repellat repellendus reprehenderit rerum sequi tempora temporibus vitae voluptate!</p>
    </section>
</body>
</html>