<!DOCTYPE html>
<html lang="en" th:replace="user/base::layout('title',~{::dashboard})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section th:fragment="dashboard">
        <div class="container">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Welcome to Your Dashboard!</h2>
                    <img width="200px"  th:src="@{/images/add-friend.png}" alt="">
                    <h2 class="text-secondary mt-3">Start Adding New Contact On Cloud</h2>
                    <a class="btn btn-outline-success " href="/user/add-contact"> Add new Contact</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>