<!DOCTYPE html>
<html lang="en" th:replace="user/base::layout('Profile',~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="card me-4">
            <div class="card-body">
                <div class="text-center">
                    <img width="200px" height="200px" th:src="@{'/images/'+${user.imageUrl}}" alt="hii">
                </div>
                <h2 class="text-center" th:text="${user.name}"></h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col" th:text="${user.id}"></th>

                    </tr>
                    </thead>

                    <tbody >
                    <tr>
                        <th scope="row">Email</th>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td th:text="${user.role}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Account isEnabled</th>
                        <td th:text="${user.enabled}"></td>
                    </tr>
                    <tr>
                        <th scope="row">About</th>
                        <td th:text="${user.about}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <a class="btn btn-outline-success ">
                        <i class="far fa-edit"></i> Update Profile
                    </a>
                </div>
            </div>

        </div>
    </section>
</body>
</html>