<!DOCTYPE html>
<html lang="en" th:replace="base::layout('Smart Contact Manager',~{::home})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="banner pt-5 text-light text-center" th:fragment="home">
        <div th:if="${success}" class="alert alert-success" role="alert">
            <p th:text="${success}"></p>
        </div>
        <h1 class="pb-3">Smart Contact Manager</h1>
        <p>Start collecting your contacts in very smarter way. We provide very efficient and smarter way of handling contacts.</p>

        <a href="/user/dashboard">
            <button  class="bg-default border-0 p-2 rounded">Get Started</button>
        </a>

    </div>
</body>
</html>